@font-face {
    font-family: Argentum Sans;
    src: url("res/ArgentumSans-Regular.ttf"), format(truetype);
}

body {
    font-family: Argentum Sans;
    
    /* background stuff 
    background-image: url(bg.jpg);*/
    background:
        /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
        /*linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,106,255,1) 100%);*/
        url(res/bg.jpg);
    background-attachment: fixed; 

    
    /*background-color: rgb(2,0,36); */
    backdrop-filter: blur(50px);
    
    margin: 0;
}

a, a:visited {

    color: rgb(236, 45, 253);
    display: block;
}

p, h1, h2, h3 {
    text-align: left;
    color: white;
}

.links {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5cm;
    padding: 0.5cm;
    width: 35%;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.1fr 0.1fr;

    justify-content: center;
    align-items: center;
}

header {
    padding: 1%;
    

    display: flex;


    align-items: left;
    gap: 1%;
    align-items: center;
    background-color: black;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    height: 60px;
}

.title {
    font-size: 20pt;
    
    /*background: -webkit-linear-gradient(rgb(238, 238, 238), rgb(134, 95, 116)) padding-box text;
    -webkit-text-fill-color: transparent;*/
}

.content-grid {
    display: grid;
    grid-template-columns: 22.5% 45% 22.5%;
    row-gap: 5%;

    column-gap: 5%;
    text-align: left;
}



@media (max-width: 1000px) {
    .links {
        display: block;
    }

    .content-grid {
        display: block;
    }

    .pfp {
        height: 40px;
    }

    .header-end {
        height: 100px;
    }

    .title {
        font-size: 15pt;
    }
}

.content {
    margin: 1%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

li {
    color: white;
}